<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% block title %}
      {% endblock %} | Wilson Wanja - Full-Stack Developer
    </title>

    <meta name="description"
      content="{% block description %}
      {% endblock %}" />
    <meta name="author" content="Wilson Wanja" />
    <meta name="keywords" content="Wilson Wanja, Full-stack Developer, Slim PHP, Flask, Linux, Portfolio" />

    <!-- Open Graph (OG) Tags for social media -->
    <meta property="og:title"
      content="{% block og_title %} Wilson Wanja - Full-Stack Developer  {% endblock %}" />
    <meta property="og:description"
      content="{% block og_description %} Full-stack developer specializing in scalable web applications, Linux systems, and AI integrations. I build robust solutions with Slim PHP, Laravel, Flask, and C.  {% endblock %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ APP_URL|default('https://wilson.4ly.me') }}" />
    <meta property="og:image" content="{{ APP_URL|default('https://wilson.4ly.me') }}/images/wanja-wilson.jpg" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title"
      content="{% block twitter_title %} Wilson Wanja - Full-Stack Developer  {% endblock %}" />
    <meta name="twitter:description"
      content="{% block twitter_description %} Full-stack developer specializing in scalable web applications, Linux systems, and AI integrations. I build robust solutions with Slim PHP, Laravel, Flask, and C.  {% endblock %}" />
    <meta name="twitter:image" content="{{ APP_URL|default('https://wilson.4ly.me') }}/images/wanja-wilson.jpg" />


    <!-- Tailwind CSS -->
      <link rel="stylesheet" href="{{ asset('/build/assets/app.css') }}" />
      <script type="module" src="{{ asset('/build/assets//app-gIRPNZqF.js') }}"></script>
      {% block styles %}

      {% endblock %}

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body class="bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100 font-sans">
    {% include 'partials/header.twig' %}
    <main>
      {% block content %}

      {% endblock %}
    </main>
    {% include 'partials/footer.twig' %}
  </body>
</html>
